.icon-business:before,
.icon-business { background-image: url('png/business.png'); background-repeat: no-repeat; }

.icon-close:before,
.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-compass:before,
.icon-compass { background-image: url('png/compass.png'); background-repeat: no-repeat; }

.icon-down-arrow:before,
.icon-down-arrow { background-image: url('png/down-arrow.png'); background-repeat: no-repeat; }

.icon-dribbble:before,
.icon-dribbble { background-image: url('png/dribbble.png'); background-repeat: no-repeat; }

.icon-facebook:before,
.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-forum:before,
.icon-forum { background-image: url('png/forum.png'); background-repeat: no-repeat; }

.icon-gihub:before,
.icon-gihub { background-image: url('png/gihub.png'); background-repeat: no-repeat; }

.icon-icon_59745:before,
.icon-icon_59745 { background-image: url('png/icon_59745.png'); background-repeat: no-repeat; }

.icon-icon_77846:before,
.icon-icon_77846 { background-image: url('png/icon_77846.png'); background-repeat: no-repeat; }

.icon-icon_78607:before,
.icon-icon_78607 { background-image: url('png/icon_78607.png'); background-repeat: no-repeat; }

.icon-linkedin:before,
.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-logo:before,
.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-logo_white:before,
.icon-logo_white { background-image: url('png/logo_white.png'); background-repeat: no-repeat; }

.icon-mail:before,
.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-phone:before,
.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-shop:before,
.icon-shop { background-image: url('png/shop.png'); background-repeat: no-repeat; }

.icon-skype:before,
.icon-skype { background-image: url('png/skype.png'); background-repeat: no-repeat; }

.icon-social-dribbble-circular:before,
.icon-social-dribbble-circular { background-image: url('png/social-dribbble-circular.png'); background-repeat: no-repeat; }

.icon-social-facebook-circular:before,
.icon-social-facebook-circular { background-image: url('png/social-facebook-circular.png'); background-repeat: no-repeat; }

.icon-social-github-circular:before,
.icon-social-github-circular { background-image: url('png/social-github-circular.png'); background-repeat: no-repeat; }

.icon-social-linkedin-circular:before,
.icon-social-linkedin-circular { background-image: url('png/social-linkedin-circular.png'); background-repeat: no-repeat; }

.icon-social-skype-outline:before,
.icon-social-skype-outline { background-image: url('png/social-skype-outline.png'); background-repeat: no-repeat; }

.icon-social-twitter-circular:before,
.icon-social-twitter-circular { background-image: url('png/social-twitter-circular.png'); background-repeat: no-repeat; }

.icon-twitter:before,
.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

