@import url("http://weloveiconfonts.com/api/?family=entypo");
/* Media Queries */
/* Colour */
/* Primary */
/* Secondary */
/* Lots of other greys */
/* Typography */
/* Form elements */
/* Widgets */
/* Tables */
/* line 44, ../sass/_mixins.scss */
.footer-links ul {
  padding: 0;
  margin: 0; }
  /* line 47, ../sass/_mixins.scss */
  .footer-links ul li {
    display: inline-block; }

/* line 51, ../sass/_mixins.scss */
.clearfix:before, hr:before, .wrap:before, .post:before, .post__header:before, .post__body:before, .l-article-footer:before, .l-bracket-block-list:before, .l-directors ul li:before, .l-locations:before, .l-brochures:before, .insight-navigation:before, .bracket-block .spacer:before, .bracket-block__image--large:before, .bracket-block__dl:before, .footer-links:before, .sitemap:before, .menu:before, .widget:before,
.clearfix:after,
hr:after,
.wrap:after,
.post:after,
.post__header:after,
.post__body:after,
.l-article-footer:after,
.l-bracket-block-list:after,
.l-directors ul li:after,
.l-locations:after,
.l-brochures:after,
.insight-navigation:after,
.bracket-block .spacer:after,
.bracket-block__image--large:after,
.bracket-block__dl:after,
.footer-links:after,
.sitemap:after,
.menu:after,
.widget:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  background: red; }

/* line 58, ../sass/_mixins.scss */
.clearfix:after, hr:after, .wrap:after, .post:after, .post__header:after, .post__body:after, .l-article-footer:after, .l-bracket-block-list:after, .l-directors ul li:after, .l-locations:after, .l-brochures:after, .insight-navigation:after, .bracket-block .spacer:after, .bracket-block__image--large:after, .bracket-block__dl:after, .footer-links:after, .sitemap:after, .menu:after, .widget:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 79, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, ../sass/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 111, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 131, ../sass/_normalize.scss */
h2, .h-entry .post__header .article-heading {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 136, ../sass/_normalize.scss */
h3, .post__header time {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 141, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 146, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 151, ../sass/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 168, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 173, ../sass/_normalize.scss */
blockquote {
  margin: 0; }

/* line 177, ../sass/_normalize.scss */
cite {
  font-style: normal; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 184, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 193, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 203, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
/* line 212, ../sass/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 221, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 234, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 244, ../sass/_normalize.scss */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 252, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 262, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 270, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 278, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 282, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 294, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 301, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 309, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 319, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 334, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 343, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 355, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 367, ../sass/_normalize.scss */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 375, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 387, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 401, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 416, ../sass/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 428, ../sass/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 443, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 456, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 468, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 482, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 494, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 503, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 514, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 527, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base Styles */
/* line 3, ../sass/_base.scss */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

/* line 7, ../sass/_base.scss */
body {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #464646;
  background-color: #ececec; }

/* line 14, ../sass/_base.scss */
.container {
  font-family: "gesta", "Helvetica", Arial, sans-serif; }

/* line 19, ../sass/_base.scss */
a {
  text-decoration: none;
  color: #da0d28; }

/* line 24, ../sass/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 29, ../sass/_base.scss */
.img--circle {
  border-radius: 100%; }

/* line 33, ../sass/_base.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700; }

/* line 39, ../sass/_base.scss */
h2, .h-entry .post__header .article-heading {
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700; }

/* line 45, ../sass/_base.scss */
.post__header h2, .h-entry .post__header .article-heading {
  color: #a1a1a1; }

/* line 49, ../sass/_base.scss */
h3, .post__header time {
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #da0d28;
  font-weight: 700; }

/* line 57, ../sass/_base.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 62, ../sass/_base.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 67, ../sass/_base.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/* line 72, ../sass/_base.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

/* line 76, ../sass/_base.scss */
details {
  background-color: #eeeeee;
  border-bottom: 1px solid white; }

/* line 81, ../sass/_base.scss */
details > div {
  padding: 10px 50px 10px 20px; }

/* line 85, ../sass/_base.scss */
summary {
  padding: 10px; }

/* line 89, ../sass/_base.scss */
details[open] summary {
  background-color: #e1e1e1; }

/* line 93, ../sass/_base.scss */
address {
  font-style: normal; }

/* line 97, ../sass/_base.scss */
hr {
  color: #e1e1e1;
  background-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  height: 5px;
  margin-bottom: 24px;
  width: 100%;
  float: left;
  clear: both; }

/* line 110, ../sass/_base.scss */
.hr--red {
  color: #ff412a;
  background-color: #ff412a; }

/* Figure elements*/
/* line 117, ../sass/_base.scss */
figure {
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  padding: 16px 0;
  margin-bottom: 24px; }

/* line 123, ../sass/_base.scss */
figure img {
  display: block;
  margin: 0 auto 16px; }

/* line 127, ../sass/_base.scss */
figcaption {
  text-align: center;
  margin-bottom: 1em; }
  /* line 130, ../sass/_base.scss */
  figcaption p {
    margin-top: 0; }

/* line 134, ../sass/_base.scss */
figcaption h4 {
  margin: 0; }

/* Form elements */
/* line 140, ../sass/_base.scss */
fieldset {
  border: 1px solid #a1a1a1;
  margin: 0 12px 12px 12px;
  padding: 24px;
  color: #7794aa; }

/* line 147, ../sass/_base.scss */
input,
label,
select {
  display: block;
  margin-bottom: 6px; }

/* line 154, ../sass/_base.scss */
label {
  font-weight: 700;
  margin-bottom: 6px;
  color: #a1a1a1; }
  /* line 159, ../sass/_base.scss */
  label.required:after {
    content: "*"; }
  /* line 163, ../sass/_base.scss */
  label abbr {
    display: none; }

/* line 168, ../sass/_base.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="string"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  padding: 8px 5px;
  width: 100%;
  display: block;
  border: 1px solid #a1a1a1;
  margin: 0 0 24px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 5px rgba(119, 148, 170, 0.28);
  -webkit-box-shadow: inset 0 0 5px rgba(119, 148, 170, 0.28);
  box-shadow: inset 0 0 5px rgba(119, 148, 170, 0.28);
  color: #464646; }
  /* line 17, ../sass/_mixins.scss */
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="string"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #da0d28;
    outline: none; }

/* line 187, ../sass/_base.scss */
input[disabled], input[readonly] {
  background-color: #eeeeee;
  color: #a1a1a1; }

/* line 192, ../sass/_base.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 6px; }

/* line 197, ../sass/_base.scss */
button, input[type="submit"], input[type="reset"], input[type="button"], .btn {
  padding: 5px 20px;
  background: #da0d28;
  border: 1px solid #da0d28;
  color: white;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 204, ../sass/_base.scss */
input[type="reset"], button[type="reset"] {
  background-color: #7f0c45;
  border-color: #7f0c45; }

/* line 209, ../sass/_base.scss */
input[type="submit"][disabled], button[disabled], .btn.disabled {
  background-color: #464646;
  border-color: #464646; }

/* Table elements */
/* line 217, ../sass/_base.scss */
table {
  width: 100%;
  margin-bottom: 24px; }
  /* line 221, ../sass/_base.scss */
  table > caption {
    font-size: 11px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #da0d28;
    margin-bottom: 0.5em; }
  /* line 231, ../sass/_base.scss */
  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    text-align: left;
    padding: 4px;
    line-height: 24px;
    vertical-align: top;
    border: 1px solid #e1e1e1; }
  /* line 241, ../sass/_base.scss */
  table > thead {
    background: #eeeeee;
    color: #da0d28; }
    /* line 244, ../sass/_base.scss */
    table > thead > tr > th {
      text-align: center; }
  /* line 249, ../sass/_base.scss */
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e1e1e1; }

/* line 255, ../sass/_base.scss */
.profile td {
  border: 0 !important;
  padding: 0; }

/* line 256, ../sass/_base.scss */
.profile .tableHeading {
  font-weight: 700;
  font-size: 1.5em; }

/* line 1, ../sass/_layout.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../sass/_layout.scss */
.container {
  background-color: white;
  width: 98%;
  max-width: 1200px;
  margin: 0 auto; }

/* line 11, ../sass/_layout.scss */
.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1em; }

/* line 22, ../sass/_layout.scss */
.l-header {
  padding-top: 24px; }

/* line 25, ../sass/_layout.scss */
.l-header__nav {
  margin-bottom: 1em; }
  @media only screen and (min-width: 768px) {
    /* line 25, ../sass/_layout.scss */
    .l-header__nav {
      border-bottom: 3px solid #da0d28; } }

/* line 31, ../sass/_layout.scss */
.l-header__logo {
  margin-bottom: 12px;
  max-width: 160px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  /* line 38, ../sass/_layout.scss */
  .l-header__menu {
    display: none; } }
@media only screen and (min-width: 768px) {
  /* line 42, ../sass/_layout.scss */
  .l-header__menu .menu__item--right {
    float: right; }
    /* line 45, ../sass/_layout.scss */
    .l-header__menu .menu__item--right a {
      padding-right: 0; } }
@media only screen and (min-width: 768px) {
  /* line 50, ../sass/_layout.scss */
  .l-header__menu .menu__item--search {
    padding-top: 7px;
    padding-right: 20px; } }

@media only screen and (max-width: 767px) {
  /* line 58, ../sass/_layout.scss */
  .l-header__search-form {
    background-color: #da0d28;
    padding: 10px; } }

/* line 64, ../sass/_layout.scss */
.l-header__search-form .search-form__input {
  margin-bottom: 0; }

/* line 70, ../sass/_layout.scss */
.post__header--home {
  margin-bottom: 1em; }
  /* line 72, ../sass/_layout.scss */
  .post__header--home .article-heading {
    font-size: 18px;
    font-size: 1.8rem; }
  /* line 75, ../sass/_layout.scss */
  .post__header--home .article-subheading {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none; }

/* line 84, ../sass/_layout.scss */
.l-posts {
  margin-bottom: 48px; }
  @media only screen and (min-width: 768px) {
    /* line 84, ../sass/_layout.scss */
    .l-posts {
      float: left;
      width: 73%;
      margin-right: 2%; } }
  @media only screen and (min-width: 1024px) {
    /* line 84, ../sass/_layout.scss */
    .l-posts {
      width: 66.666%;
      margin-right: 8.3333%; } }

@media only screen and (min-width: 1024px) {
  /* line 98, ../sass/_layout.scss */
  .l-posts--wide {
    width: 73%;
    margin-right: 2%; } }

/* line 109, ../sass/_layout.scss */
.post--narrow {
  max-width: 500px; }

/* line 113, ../sass/_layout.scss */
.post__image {
  float: left;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 24px; }
  @media only screen and (min-width: 768px) {
    /* line 113, ../sass/_layout.scss */
    .post__image {
      width: 33.333%;
      padding-right: 24px; } }
  /* line 122, ../sass/_layout.scss */
  .post__image img {
    width: 100%;
    height: auto !important; }

/* line 132, ../sass/_layout.scss */
.l-posts--insight {
  margin-bottom: 48px; }
  @media only screen and (min-width: 768px) {
    /* line 132, ../sass/_layout.scss */
    .l-posts--insight {
      float: left;
      width: 48%;
      margin-right: 2%; } }
  @media only screen and (min-width: 1024px) {
    /* line 132, ../sass/_layout.scss */
    .l-posts--insight {
      width: 41.666%;
      margin-right: 8.3333%; } }

@media only screen and (min-width: 768px) {
  /* line 145, ../sass/_layout.scss */
  .post > .bracket-block {
    float: right;
    width: 30%; } }

@media only screen and (min-width: 768px) {
  /* line 152, ../sass/_layout.scss */
  .post > .bracket-block--large {
    width: 100%; } }

/* line 158, ../sass/_layout.scss */
.post .bracket-block ~ .post__body {
  float: left;
  width: 65%;
  margin-right: 5%; }

@media only screen and (min-width: 768px) {
  /* line 164, ../sass/_layout.scss */
  .l-insight-nav {
    float: left;
    width: 23%;
    margin-right: 2%; } }
@media only screen and (min-width: 1024px) {
  /* line 164, ../sass/_layout.scss */
  .l-insight-nav {
    float: left;
    width: 16.666%;
    margin-right: 8.333%; } }

/* line 177, ../sass/_layout.scss */
.h-entry {
  margin-bottom: 24px; }

/* line 181, ../sass/_layout.scss */
.l-article-sidebar {
  margin-bottom: 48px; }
  @media only screen and (min-width: 768px) {
    /* line 181, ../sass/_layout.scss */
    .l-article-sidebar {
      float: right;
      width: 25%; } }
  /* line 187, ../sass/_layout.scss */
  .l-article-sidebar .widget {
    margin-bottom: 8px; }
  /* line 190, ../sass/_layout.scss */
  .l-article-sidebar .widget:nth-child(1n) {
    background: #6e6e6e; }
  /* line 193, ../sass/_layout.scss */
  .l-article-sidebar .widget:nth-child(2n) {
    background: gray; }
  /* line 196, ../sass/_layout.scss */
  .l-article-sidebar .widget:nth-child(3n) {
    background: #979697; }
  /* line 199, ../sass/_layout.scss */
  .l-article-sidebar .widget:last-child {
    margin-bottom: 0; }

/* line 204, ../sass/_layout.scss */
.l-article-footer {
  width: 100%;
  float: left; }
  /* line 208, ../sass/_layout.scss */
  .l-article-footer .widget {
    padding-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    /* line 212, ../sass/_layout.scss */
    .l-article-footer .widget {
      float: left;
      width: 31.95%;
      margin-right: 2%; }
      /* line 216, ../sass/_layout.scss */
      .l-article-footer .widget.first {
        clear: left; }
      /* line 219, ../sass/_layout.scss */
      .l-article-footer .widget.last {
        margin-right: 0;
        float: right; } }

/* line 233, ../sass/_layout.scss */
.l-bracket-block-list {
  width: 100%; }

/* line 238, ../sass/_layout.scss */
.l-bracket-block-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 241, ../sass/_layout.scss */
.l-bracket-block-list.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/* line 246, ../sass/_layout.scss */
.l-bracket-block-list {
  padding: 0;
  margin: 0; }

/* line 250, ../sass/_layout.scss */
.l-bracket-block-list .bracket-block {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;
  float: left;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    /* line 250, ../sass/_layout.scss */
    .l-bracket-block-list .bracket-block {
      margin-right: 2%;
      margin-bottom: 1em;
      width: 32%;
      float: left; }
      /* line 263, ../sass/_layout.scss */
      .l-bracket-block-list .bracket-block:nth-child(3n+3) {
        margin-right: 0;
        float: right; } }

@media only screen and (min-width: 768px) {
  /* line 270, ../sass/_layout.scss */
  .l-bracket-block-list--clients .bracket-block {
    min-height: 180px; } }

/* line 278, ../sass/_layout.scss */
.l-directors {
  margin-top: 24px; }

/* line 282, ../sass/_layout.scss */
.l-directors ul {
  margin: 0;
  padding: 0; }

/* line 286, ../sass/_layout.scss */
.l-directors ul li {
  margin: 0 0 24px 0;
  padding: 0;
  list-style: none; }
  /* line 291, ../sass/_layout.scss */
  .l-directors ul li .post__image {
    margin-top: 0; }
  /* line 294, ../sass/_layout.scss */
  .l-directors ul li .post__image img {
    border: 1px solid #a1a1a1;
    margin-top: 0; }
  @media only screen and (min-width: 768px) {
    /* line 299, ../sass/_layout.scss */
    .l-directors ul li .post__body {
      float: left;
      width: 66.666%; } }
  /* line 304, ../sass/_layout.scss */
  .l-directors ul li h2, .l-directors ul li .h-entry .post__header .article-heading, .h-entry .post__header .l-directors ul li .article-heading, .l-directors ul li h3, .l-directors ul li .post__header time, .post__header .l-directors ul li time {
    margin: 0; }

/* line 311, ../sass/_layout.scss */
.post--contact {
  margin-bottom: 24px; }

@media only screen and (min-width: 768px) {
  /* line 315, ../sass/_layout.scss */
  .form-item--narrow {
    width: 47.5%;
    float: left; }
    /* line 319, ../sass/_layout.scss */
    .form-item--narrow.form-item--odd {
      clear: left;
      margin-right: 5%; } }

/* line 328, ../sass/_layout.scss */
.l-locations {
  clear: both;
  margin-bottom: 48px; }
  /* line 332, ../sass/_layout.scss */
  .l-locations figure {
    margin-bottom: 0;
    border-bottom: 0; }
    @media only screen and (min-width: 768px) {
      /* line 332, ../sass/_layout.scss */
      .l-locations figure {
        width: 33.333%;
        padding-left: 2%;
        padding-right: 2%;
        float: left;
        margin-bottom: 0; } }
    /* line 342, ../sass/_layout.scss */
    .l-locations figure img {
      width: 66.666%;
      margin: 1em auto;
      max-width: 300px; }
  @media only screen and (min-width: 768px) {
    /* line 328, ../sass/_layout.scss */
    .l-locations {
      border-bottom: 2px solid #e1e1e1; } }

@media only screen and (max-width: 767px) {
  /* line 355, ../sass/_layout.scss */
  .l-bracket-block-list--solutions hr {
    display: none; } }

/* line 360, ../sass/_layout.scss */
.l-bracket-block-list--solutions li {
  list-style: none; }

/* line 366, ../sass/_layout.scss */
.l-brochures {
  width: 100%; }
  /* line 369, ../sass/_layout.scss */
  .l-brochures ul {
    list-style: none;
    padding: 0; }
  /* line 374, ../sass/_layout.scss */
  .l-brochures ul li {
    margin: 0;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      /* line 374, ../sass/_layout.scss */
      .l-brochures ul li {
        width: 30%;
        margin-right: 5%;
        float: left;
        margin-bottom: 0; }
        /* line 382, ../sass/_layout.scss */
        .l-brochures ul li:nth-child(3n+3) {
          margin-right: 0; } }

/* line 390, ../sass/_layout.scss */
.file {
  border: 0;
  padding: 0;
  margin: 0; }
  /* line 394, ../sass/_layout.scss */
  .file img {
    width: 100%;
    margin: 1em auto 0.5em;
    max-width: 300px;
    border: 1px solid #a1a1a1; }
  /* line 400, ../sass/_layout.scss */
  .file figcaption {
    text-align: left; }
    /* line 402, ../sass/_layout.scss */
    .file figcaption a {
      color: #464646; }

/* line 411, ../sass/_layout.scss */
.l-contact_form ul {
  margin: 0;
  padding: 0; }
/* line 415, ../sass/_layout.scss */
.l-contact_form ul li {
  list-style: 0;
  margin: 0;
  padding: 0; }

/* line 424, ../sass/_layout.scss */
.l-post__sitemap {
  margin-left: 0; }
  /* line 426, ../sass/_layout.scss */
  .l-post__sitemap li > ul {
    margin-top: 0; }

/* line 433, ../sass/_layout.scss */
.l-footer__sitemap .sitemap__spacer {
  margin-bottom: 24px; }

/* line 2, ../sass/modules/_accordian.scss */
.accordion dt, .accordion dd {
  padding: 10px;
  background-color: #eeeeee;
  width: 100%; }
/* line 7, ../sass/modules/_accordian.scss */
.accordion dt {
  font-size: 14px;
  font-size: 1.4rem;
  border-top: 2px solid white;
  text-transform: uppercase;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in; }
  /* line 13, ../sass/modules/_accordian.scss */
  .accordion dt a {
    color: #464646; }
    /* line 15, ../sass/modules/_accordian.scss */
    .accordion dt a:hover {
      color: #464646; }
  /* line 17, ../sass/modules/_accordian.scss */
  .accordion dt .more-posts__icon {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    -webkit-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    width: 1.25em;
    font-size: 1.5em;
    line-height: 1;
    padding: 0; }
    /* line 24, ../sass/modules/_accordian.scss */
    .accordion dt .more-posts__icon span, .accordion dt .more-posts__icon span:before {
      width: 1em;
      height: 1em;
      display: inline-block; }
  /* line 30, ../sass/modules/_accordian.scss */
  .accordion dt .more-posts__words {
    text-align: left; }
  /* line 33, ../sass/modules/_accordian.scss */
  .accordion dt.is-open, .accordion dt:hover {
    background-color: #e1e1e1; }
  /* line 36, ../sass/modules/_accordian.scss */
  .accordion dt.is-open .more-posts__icon {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
/* line 40, ../sass/modules/_accordian.scss */
.accordion dd {
  font-size: 12px;
  margin-left: 0;
  padding-left: 3em;
  padding-right: 3em; }
  /* line 45, ../sass/modules/_accordian.scss */
  .accordion dd:last-of-type {
    position: relative; }

/* line 1, ../sass/modules/_alerts.scss */
.alert {
  border: 1px solid #fbeed5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px; }

/* line 9, ../sass/modules/_alerts.scss */
.alert-warning {
  background-color: #fcf8e3;
  border-color: #c09853;
  color: #c09853; }

/* line 15, ../sass/modules/_alerts.scss */
.alert-error {
  background-color: #fee8eb;
  border-color: #da0d28;
  color: #da0d28; }

/* line 21, ../sass/modules/_alerts.scss */
.alert-success {
  background-color: #e8f7f7;
  border-color: #38a8a5;
  color: #38a8a5; }

/* line 27, ../sass/modules/_alerts.scss */
.alert-info {
  background-color: #d5dee5;
  border-color: #7794aa;
  color: #7794aa; }

/* line 1, ../sass/modules/_blog-navigation.scss */
.insight-navigation {
  margin-bottom: 24px; }

/* line 5, ../sass/modules/_blog-navigation.scss */
.insight-navigation__heading {
  background: black;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px 10px 10px 20px;
  margin: 0; }

/* line 12, ../sass/modules/_blog-navigation.scss */
.insight-navigation ul {
  padding-left: 4px;
  margin: 0;
  float: left;
  width: 100%;
  background-image: -moz-linear-gradient(#000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  background-image: -webkit-linear-gradient(#000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  background-image: linear-gradient(#000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 22, ../sass/modules/_blog-navigation.scss */
.insight-navigation__item {
  font-size: 11px;
  font-size: 1.1rem;
  padding: 1em 0 1em 16px;
  background-color: white; }
  /* line 26, ../sass/modules/_blog-navigation.scss */
  .insight-navigation__item a {
    word-break: break-all; }

/* line 31, ../sass/modules/_blog-navigation.scss */
.insight-navigation__date {
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0; }

/* line 36, ../sass/modules/_blog-navigation.scss */
.insight-navigation__title {
  font-size: 11px;
  font-size: 1.1rem;
  color: black;
  text-transform: none;
  font-weight: 400;
  margin: 0; }

/* line 43, ../sass/modules/_blog-navigation.scss */
.insight-navigtion__read-more {
  color: #da0d28; }

/* line 47, ../sass/modules/_blog-navigation.scss */
.insight-navigation--twitter a {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* line 2, ../sass/modules/_bracket-blocks.scss */
.bracket-block {
  position: relative;
  margin-bottom: 24px;
  background-position: center center;
  background-size: 60% auto;
  background-repeat: no-repeat; }
  /* line 9, ../sass/modules/_bracket-blocks.scss */
  .bracket-block:before, .bracket-block:after {
    width: 10px;
    border: 1px solid #6e6e6e;
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    z-index: 10; }
  /* line 18, ../sass/modules/_bracket-blocks.scss */
  .bracket-block:before {
    border-right: 0;
    left: 0; }
  /* line 23, ../sass/modules/_bracket-blocks.scss */
  .bracket-block:after {
    border-left: 0;
    right: 0; }
  /* line 27, ../sass/modules/_bracket-blocks.scss */
  .bracket-block .spacer {
    padding: 10px 20px;
    height: 100%; }
  /* line 32, ../sass/modules/_bracket-blocks.scss */
  .bracket-block p {
    margin: 0; }
  /* line 35, ../sass/modules/_bracket-blocks.scss */
  .bracket-block a {
    display: block;
    clear: left; }
  /* line 39, ../sass/modules/_bracket-blocks.scss */
  .bracket-block blockquote {
    color: #da0d28; }
  /* line 43, ../sass/modules/_bracket-blocks.scss */
  .bracket-block cite {
    color: #464646; }

/* line 49, ../sass/modules/_bracket-blocks.scss */
.bracket-block--red:before, .bracket-block--red:after {
  border-color: #da0d28; }

/* line 54, ../sass/modules/_bracket-blocks.scss */
.bracket-block--left-only:after {
  border: 0; }

/* line 59, ../sass/modules/_bracket-blocks.scss */
.bracket-block__title {
  margin: 0;
  text-transform: uppercase; }

/* line 64, ../sass/modules/_bracket-blocks.scss */
.bracket-block--large .bracket-block__title {
  font-size: 18px;
  font-size: 1.8rem; }

/* line 69, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-image .bracket-block__container {
  display: table-row; }

/* line 72, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-image .bracket-block__image {
  display: table-cell;
  width: 100px;
  vertical-align: middle; }

/* line 78, ../sass/modules/_bracket-blocks.scss */
.bracket-block__image--large {
  margin-top: 1em; }

/* line 83, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-image .bracket-block__text {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle; }

/* line 91, ../sass/modules/_bracket-blocks.scss */
.bracket-block__dl {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  /* line 96, ../sass/modules/_bracket-blocks.scss */
  .bracket-block__dl > div {
    float: left;
    padding-right: 3em;
    margin-left: 2em; }
  /* line 101, ../sass/modules/_bracket-blocks.scss */
  .bracket-block__dl > div:first-child {
    border-right: 3px solid black; }
  /* line 105, ../sass/modules/_bracket-blocks.scss */
  .bracket-block__dl dt {
    color: #da0d28; }
  /* line 108, ../sass/modules/_bracket-blocks.scss */
  .bracket-block__dl dd {
    margin: 0; }

/* line 115, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover__container--non-hover-state img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
  max-width: 200px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    /* line 115, ../sass/modules/_bracket-blocks.scss */
    .bracket-block--with-hover__container--non-hover-state img {
      max-width: 80%; } }

/* line 131, ../sass/modules/_bracket-blocks.scss */
.bracket-block__container {
  height: 100%; }

/* line 134, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover {
  background-color: #da0d28; }
  /* line 136, ../sass/modules/_bracket-blocks.scss */
  .bracket-block--with-hover a {
    color: white; }

/* line 141, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover--is-active:before, .bracket-block--with-hover--is-active:after {
  border: 0; }

/* line 145, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover .bracket-block--with-hover__container--non-hover-state {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in; }
  /* line 154, ../sass/modules/_bracket-blocks.scss */
  .bracket-block--with-hover .bracket-block--with-hover__container--non-hover-state a {
    color: #da0d28; }

/* line 159, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover__container--non-hover-state a {
  position: absolute;
  bottom: 10px;
  right: 20px; }

/* line 166, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover--is-active .bracket-block--with-hover__container--non-hover-state {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: -1; }

/* line 171, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover__container--hover-state {
  color: white;
  z-index: 100;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 0;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in; }

/* line 182, ../sass/modules/_bracket-blocks.scss */
.bracket-block--with-hover--is-active .bracket-block--with-hover__container--hover-state {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  z-index: 1000; }

/* line 1, ../sass/modules/_breadcrumbs.scss */
.breadcrumb {
  list-style: none;
  margin: 0 0 20px;
  padding: 0; }

/* line 6, ../sass/modules/_breadcrumbs.scss */
.breadcrumb li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 12, ../sass/modules/_breadcrumbs.scss */
.breadcrumb li a {
  color: #a1a1a1;
  text-decoration: none; }

/* line 17, ../sass/modules/_breadcrumbs.scss */
.breadcrumb li a:hover {
  color: #004068; }

/* line 21, ../sass/modules/_breadcrumbs.scss */
.breadcrumb li .divider {
  color: #aaa;
  padding: 0 5px; }

/* line 26, ../sass/modules/_breadcrumbs.scss */
.breadcrumb .active {
  color: #464646; }

/*
 * responsive-carousel
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
 */
/* line 8, ../sass/modules/_carousel.scss */
.carousel {
  width: 100%;
  position: relative; }

/* line 12, ../sass/modules/_carousel.scss */
.carousel img {
  display: block;
  width: 100%;
  height: auto; }

/* line 17, ../sass/modules/_carousel.scss */
.carousel .carousel-item {
  display: none; }

/* line 20, ../sass/modules/_carousel.scss */
.carousel .carousel-active {
  display: block; }

/* line 23, ../sass/modules/_carousel.scss */
.carousel .carousel-nav:nth-child(2) {
  display: none; }

/*
 * responsive-carousel
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
*/
/* line 34, ../sass/modules/_carousel.scss */
.carousel-slide {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 43, ../sass/modules/_carousel.scss */
.carousel-slide .carousel-item {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  /* necessary for non-active slides */
  display: block;
  /* overrides basic carousel styles */
  z-index: 1;
  -webkit-transition: left .5s ease;
  -moz-transition: left .5s ease;
  -ms-transition: left .5s ease;
  -o-transition: left .5s ease;
  transition: left .5s ease; }

/* line 56, ../sass/modules/_carousel.scss */
.carousel-no-transition .carousel-item {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

/* line 63, ../sass/modules/_carousel.scss */
.carousel-slide .carousel-active {
  left: 0;
  position: relative;
  z-index: 2; }

/* line 68, ../sass/modules/_carousel.scss */
.carousel-slide .carousel-in {
  left: 0; }

/* line 71, ../sass/modules/_carousel.scss */
.carousel-slide-reverse .carousel-out {
  left: 100%; }

/* line 74, ../sass/modules/_carousel.scss */
.carousel-slide .carousel-out,
.carousel-slide-reverse .carousel-in {
  left: -100%; }

/* line 78, ../sass/modules/_carousel.scss */
.carousel-slide-reverse .carousel-item {
  -webkit-transition: left .5s ease;
  -moz-transition: left .5s ease;
  -ms-transition: left .5s ease;
  -o-transition: left .5s ease;
  transition: left .5s ease; }

/* line 85, ../sass/modules/_carousel.scss */
.carousel-slide-reverse .carousel-active {
  left: 0; }

/* line 89, ../sass/modules/_carousel.scss */
.carousel__item__text {
  position: absolute;
  bottom: 30%;
  padding: 0.75em 1.5em 0.75em 0.75em;
  background: #da0d28;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in; }
  /* line 97, ../sass/modules/_carousel.scss */
  .carousel__item__text h1, .carousel__item__text p {
    margin: 0; }
  /* line 100, ../sass/modules/_carousel.scss */
  .carousel__item__text h1 {
    font-size: 18px;
    font-size: 1.8rem; }
  /* line 104, ../sass/modules/_carousel.scss */
  .carousel__item__text a {
    color: white; }

/* line 108, ../sass/modules/_carousel.scss */
.carousel-active .carousel__item__text {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/* styled arrows */
/* line 113, ../sass/modules/_carousel.scss */
.carousel-nav {
  bottom: 0;
  position: relative;
  width: 100%; }

/* line 119, ../sass/modules/_carousel.scss */
.carousel-nav a {
  font-size: 1em;
  background: url(../img/arrow-sprite.png);
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  background-position: right center;
  bottom: 10px;
  display: block;
  text-indent: -9999px; }

/* line 132, ../sass/modules/_carousel.scss */
.carousel-nav a:hover,
.carousel-nav a:focus {
  opacity: 1; }

/* line 136, ../sass/modules/_carousel.scss */
.carousel-nav a.next {
  right: 10px; }

/* line 139, ../sass/modules/_carousel.scss */
.carousel-nav a.prev {
  left: 10px;
  background-position: left center; }

/* line 1, ../sass/modules/_footer-links.scss */
.footer-links {
  background: black;
  padding: 20px 20px; }

@media only screen and (min-width: 768px) {
  /* line 11, ../sass/modules/_footer-links.scss */
  .footer-links__social-links {
    float: left; } }
/* line 15, ../sass/modules/_footer-links.scss */
.footer-links__social-links a {
  color: white;
  padding-right: 0.5em;
  font-size: 1.5em;
  line-height: 24px; }

/* line 22, ../sass/modules/_footer-links.scss */
.footer-links__copyright {
  color: #a1a1a1; }
  @media only screen and (min-width: 768px) {
    /* line 22, ../sass/modules/_footer-links.scss */
    .footer-links__copyright {
      float: right; } }
  /* line 27, ../sass/modules/_footer-links.scss */
  .footer-links__copyright li {
    padding: 0 1em;
    border-right: #a1a1a1 1px solid; }
  /* line 31, ../sass/modules/_footer-links.scss */
  .footer-links__copyright li:first-child {
    padding-left: 0; }
  @media only screen and (min-width: 768px) {
    /* line 34, ../sass/modules/_footer-links.scss */
    .footer-links__copyright li:last-child {
      padding-right: 0;
      border-right: 0; } }
  /* line 40, ../sass/modules/_footer-links.scss */
  .footer-links__copyright a {
    color: #a1a1a1; }
  /* line 43, ../sass/modules/_footer-links.scss */
  .footer-links__copyright a:hover {
    color: #a1a1a1; }

/* line 1, ../sass/modules/_more-posts.scss */
.more-posts {
  display: table; }

/* line 4, ../sass/modules/_more-posts.scss */
.more-posts__icon {
  font-size: 2em;
  line-height: 1.5em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-right: 0.25em; }

/* line 12, ../sass/modules/_more-posts.scss */
.more-posts__words {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #464646; }
  /* line 17, ../sass/modules/_more-posts.scss */
  .more-posts__words:hover {
    color: #da0d28; }

/* line 22, ../sass/modules/_more-posts.scss */
.more-posts--platform {
  width: 100%; }

@media only screen and (min-width: 768px) {
  /* line 25, ../sass/modules/_more-posts.scss */
  .more-posts--platform > p {
    width: 50%;
    float: left; } }

/* line 1, ../sass/modules/_post-header.scss */
.post__header .article-heading, .post__header .article-subheading, .post__header time {
  margin-top: 0;
  margin-bottom: 0; }

/* line 10, ../sass/modules/_post-header.scss */
.post__header--with-image {
  background-image: -moz-linear-gradient(left, #000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  background-image: -webkit-linear-gradient(left, #000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  background-image: linear-gradient(to right, #000000 0%, #000000 50%, #da0d28 50%, #da0d28 100%);
  position: relative;
  padding-bottom: 15px; }
  /* line 14, ../sass/modules/_post-header.scss */
  .post__header--with-image img {
    width: 100%; }
  /* line 17, ../sass/modules/_post-header.scss */
  .post__header--with-image .article-heading {
    font-size: 18px;
    font-size: 1.8rem;
    position: absolute;
    top: 0.75em;
    left: 0;
    background: #da0d28;
    color: white;
    padding: 0.75em 1em;
    min-width: 11em; }

/* line 28, ../sass/modules/_post-header.scss */
.post__header--with-image--platform {
  background: transparent;
  padding-bottom: 0; }

/* line 33, ../sass/modules/_post-header.scss */
.post__header--with-image--navy {
  background-image: -moz-linear-gradient(left, #054474 0%, #054474 50%, #000000 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #054474 0%, #054474 50%, #000000 50%, #000000 100%);
  background-image: linear-gradient(to right, #054474 0%, #054474 50%, #000000 50%, #000000 100%); }
  /* line 35, ../sass/modules/_post-header.scss */
  .post__header--with-image--navy .article-heading {
    background: #054474; }

/* line 40, ../sass/modules/_post-header.scss */
.post__header--with-image--no-border {
  background: transparent;
  padding-bottom: 0; }

/* line 45, ../sass/modules/_post-header.scss */
.h-entry .post__header .article-heading {
  color: #464646; }
  /* line 49, ../sass/modules/_post-header.scss */
  .h-entry .post__header .article-heading a {
    color: #464646; }

/* line 1, ../sass/modules/_sitemap.scss */
.sitemap {
  background: black;
  padding: 10px 20px;
  border-right: 15px solid #da0d28; }
  @media only screen and (min-width: 768px) {
    /* line 7, ../sass/modules/_sitemap.scss */
    .sitemap .sitemap__spacer {
      margin: 0 30px; }
    /* line 10, ../sass/modules/_sitemap.scss */
    .sitemap .sitemap__column {
      float: left;
      width: 22%;
      margin-left: 17%; }
    /* line 15, ../sass/modules/_sitemap.scss */
    .sitemap .sitemap__column:first-child {
      margin-left: 0%; } }

/* line 22, ../sass/modules/_sitemap.scss */
.sitemap ul {
  padding: 0;
  margin: 0; }

/* line 26, ../sass/modules/_sitemap.scss */
.sitemap ul li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #464646; }
  /* line 30, ../sass/modules/_sitemap.scss */
  .sitemap ul li:first-child {
    border-top: 1px solid #464646; }

/* line 34, ../sass/modules/_sitemap.scss */
.sitemap div ul:first-child li:first-child {
  border-top-width: 0; }
  @media only screen and (min-width: 768px) {
    /* line 34, ../sass/modules/_sitemap.scss */
    .sitemap div ul:first-child li:first-child {
      border-top-width: 1px;
      margin-top: 38px;
      margin-top: 3.8rem; } }

/* line 43, ../sass/modules/_sitemap.scss */
.sitemap ul li a {
  color: white;
  font-weight: normal;
  padding: 8px 0;
  display: block; }

/* line 1, ../sass/modules/_navigation.scss */
.menu, .menu ul {
  margin: 0;
  padding: 0;
  font-weight: 500; }

/* line 9, ../sass/modules/_navigation.scss */
.menu, .menu-toggle {
  background: #da0d28; }
  @media only screen and (min-width: 768px) {
    /* line 9, ../sass/modules/_navigation.scss */
    .menu, .menu-toggle {
      background: transparent; } }

/* line 16, ../sass/modules/_navigation.scss */
.menu > li {
  position: relative; }
  @media only screen and (min-width: 768px) {
    /* line 16, ../sass/modules/_navigation.scss */
    .menu > li {
      float: left; } }

/* line 23, ../sass/modules/_navigation.scss */
.menu > li a, .menu-toggle {
  padding: 10px;
  display: block;
  color: white;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem; }
  @media only screen and (min-width: 768px) {
    /* line 23, ../sass/modules/_navigation.scss */
    .menu > li a, .menu-toggle {
      color: #da0d28;
      padding-left: 0;
      padding-right: 20px;
      border-bottom: 0; } }
  /* line 36, ../sass/modules/_navigation.scss */
  .menu > li a:hover, .menu-toggle:hover {
    color: black; }

@media only screen and (min-width: 768px) {
  /* line 40, ../sass/modules/_navigation.scss */
  .menu > li.last {
    float: right; }
    /* line 43, ../sass/modules/_navigation.scss */
    .menu > li.last a {
      color: black;
      padding-right: 0; } }

/* line 50, ../sass/modules/_navigation.scss */
.menu-toggle {
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 35px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    /* line 50, ../sass/modules/_navigation.scss */
    .menu-toggle {
      display: none; } }

/* line 61, ../sass/modules/_navigation.scss */
.menu > li.is-active > a, .menu > li.parent-is-active > a {
  color: black; }

@media only screen and (min-width: 768px) {
  /* line 65, ../sass/modules/_navigation.scss */
  .menu > li > ul {
    position: absolute;
    left: -99999px;
    width: 200px;
    z-index: 99;
    background: #eeeeee;
    -moz-box-shadow: 0px 5px #333333;
    -webkit-box-shadow: 0px 5px #333333;
    box-shadow: 0px 5px #333333; } }

/* line 75, ../sass/modules/_navigation.scss */
.menu > li:hover ul {
  left: 0; }

/* line 79, ../sass/modules/_navigation.scss */
.menu > li > ul > li a {
  padding-left: 20px; }
  @media only screen and (min-width: 768px) {
    /* line 79, ../sass/modules/_navigation.scss */
    .menu > li > ul > li a {
      width: 100%;
      color: black;
      text-transform: none;
      background-image: url(../img/right-arrow.png);
      background-repeat: no-repeat;
      background-position: right 50%; }
      /* line 88, ../sass/modules/_navigation.scss */
      .menu > li > ul > li a:hover {
        background-color: #e1e1e1; } }

/* line 1, ../sass/modules/_search.scss */
input[type="text"].search-form__input {
  padding: 8px 5px;
  border-color: #e1e1e1;
  border-radius: 0;
  color: #464646;
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
  background-image: url(../img/search.png);
  background-position: right 50%;
  background-repeat: no-repeat; }
  /* line 13, ../sass/modules/_search.scss */
  input[type="text"].search-form__input:focus {
    border: 1px solid #da0d28;
    outline: none; }

/* line 18, ../sass/modules/_search.scss */
.search-form__submit {
  display: none; }

/* line 1, ../sass/modules/_widgets.scss */
.widget {
  background-color: #898989;
  color: white;
  padding: 10px;
  margin-bottom: 24px;
  border-right: 15px solid #da0d28;
  max-width: 420px; }

/* line 11, ../sass/modules/_widgets.scss */
.widget a {
  color: white; }

/* line 15, ../sass/modules/_widgets.scss */
.widget__title {
  margin: 0;
  text-transform: uppercase; }

/* line 19, ../sass/modules/_widgets.scss */
.l-article-footer .widget__title {
  font-size: 16px;
  font-size: 1.6rem; }

/* line 23, ../sass/modules/_widgets.scss */
.widget__body {
  margin: 0; }

/* line 27, ../sass/modules/_widgets.scss */
.widget--with-icon .widget__container {
  display: table-row; }

/* line 30, ../sass/modules/_widgets.scss */
.widget--with-icon .widget__image {
  display: table-cell;
  width: 35px;
  vertical-align: middle; }

/* line 35, ../sass/modules/_widgets.scss */
.widget__image--bottom-align {
  vertical-align: bottom; }

/* line 39, ../sass/modules/_widgets.scss */
.widget--with-icon .widget__text {
  display: table-cell;
  padding-right: 20px;
  vertical-align: middle; }

/* line 46, ../sass/modules/_widgets.scss */
.read-more {
  margin: 1em 0 0;
  display: block; }

/* Homepage */
/* line 53, ../sass/modules/_widgets.scss */
.widget--homepage {
  background-color: transparent;
  border-right: 0;
  color: #464646;
  border-top: 3px solid #898989;
  border-bottom: 15px solid #da0d28; }
  /* line 59, ../sass/modules/_widgets.scss */
  .widget--homepage a {
    color: #464646; }

/* line 64, ../sass/modules/_widgets.scss */
.widget--homepage--twitter .widget__body a {
  color: #da0d28; }

/* line 68, ../sass/modules/_widgets.scss */
.widget--homepage .widget__title {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem; }

/* line 75, ../sass/modules/_widgets.scss */
.widget--homepage.widget--with-icon .widget__text {
  vertical-align: top; }

/* line 78, ../sass/modules/_widgets.scss */
.widget--homepage.widget--with-icon .widget__image {
  width: 40%; }
  /* line 80, ../sass/modules/_widgets.scss */
  .widget--homepage.widget--with-icon .widget__image img {
    display: block; }

/* Some colour variants */
/* line 86, ../sass/modules/_widgets.scss */
.widget--green {
  border-right-color: #38a8a5; }

/* line 90, ../sass/modules/_widgets.scss */
.widget--maroon {
  border-right-color: #7f0c45; }

/* line 94, ../sass/modules/_widgets.scss */
.widget--navy {
  border-right-color: #054474; }

/* line 98, ../sass/modules/_widgets.scss */
.widget--black {
  border-right-color: black; }

/* line 102, ../sass/modules/_widgets.scss */
.widget--orange {
  border-right-color: #ff412a; }

/* line 106, ../sass/modules/_widgets.scss */
.widget--purple {
  border-right-color: #502d57; }
