/* Base Styles */

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  @include font-size(1.3);
  line-height: 1.5;
  color: $dk-grey;
  background-color: #ececec;
}

.container {
  font-family: "gesta", "Helvetica", Arial, sans-serif;

}

a {
	text-decoration: none;
	color: $red;
}

img {
  max-width: 100%;
  height: auto;
}

.img--circle {
  border-radius: 100%;
}

h1 {
	@include font-size(2.4);
	text-transform:uppercase;
  font-weight: $bold;
}

h2 {
	@include font-size(1.8);
	text-transform:uppercase;
  font-weight: $bold;
}

.post__header h2 {
  color: $lt-grey;
}

h3 {
	@include font-size(1.1);
	text-transform:uppercase;
  color: $red;
  font-weight: $bold;

}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

details {
  background-color: $xxlt-grey;
  border-bottom: 1px solid $white;
}

details > div {
  padding: 10px 50px 10px 20px;
}

summary {
  padding: 10px;
}

details[open] summary{
  background-color:$xlt-grey;
}

address {
  font-style: normal;
}

hr {
  color:$xlt-grey;
  background-color:$xlt-grey;
  border-width: 1px;
  border-style: solid;
  height: 5px;
  margin-bottom: $base-line-height;
  width: 100%;
  float:left;
  clear:both;
  @extend .clearfix;
}

.hr--red {
    color:$bt-red;
  background-color:$bt-red;
}

/* Figure elements*/

figure {
  border-top: 2px solid $xlt-grey;
  border-bottom: 2px solid $xlt-grey;
  padding: $base-font-size 0;
  margin-bottom: $base-line-height;
}
figure img {
  display: block;
  margin: 0 auto $base-font-size;
}
figcaption {
  text-align: center;
  margin-bottom: 1em;
  p {
    margin-top: 0;
  }
}
figcaption h4{
  margin: 0
}
/* Form elements */


fieldset {
  border: 1px solid $border-color;
  margin: 0 ($base-line-height / 2) ($base-line-height / 2) ($base-line-height / 2);
  padding: $base-line-height;
  color: $pigeon;
}

input,
label,
select {
  display: block;
  margin-bottom: $base-line-height / 4;
}

label {
  font-weight: $bold;
  margin-bottom: $base-line-height / 4;
  color: $lt-grey;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="string"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  @include form-item;
}

input[disabled],  input[readonly]{
  background-color: $xxlt-grey;
  color: $lt-grey;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

button, input[type="submit"], input[type="reset"], input[type="button"], .btn {
  @include submit-button;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

input[type="reset"], button[type="reset"] {
  background-color: $maroon;
  border-color: $maroon;
}

input[type="submit"][disabled], button[disabled], .btn.disabled{
  background-color: $dk-grey;;
  border-color: $dk-grey;
}

/* Table elements */


table {
  width: 100%;
  margin-bottom: $base-line-height;

  >caption {
      @include font-size(1.1);
      text-transform:uppercase;
      color: $red;
      margin-bottom: 0.5em;
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        text-align:left;
        padding: $table-cell-padding;
        line-height: $base-line-height;
        vertical-align: top;
        border: 1px solid $table-border-color;
      }
    }
  }
  >thead {
    background: $xxlt-grey;
    color: $red;
    >tr>th {
      text-align: center;
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
}

.profile td {border: 0!important;padding: 0;}
.profile .tableHeading {font-weight: $bold; font-size: 1.5em;}